$background-color: #1d1f21;
$text-color: #ffffff;
$game-bg-color: #2c3e50;
$button-bg-color: #e74c3c;
$button-hover-color: #34495e;
$option-bg-color: #34495e;
$option-hover-color: #f1c40f; // Yellow color for hover effect
$option-selected-color: #3498db;
$font-stack: Arial, sans-serif;
$max-width: 600px;

// Global Styles
body {
    font-family: $font-stack;
    background-color: $background-color;
    color: $text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    margin: 0;
    padding: 70px;
    box-sizing: border-box;
}

#game {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    max-width: $max-width;
    margin: 0 auto;
    box-sizing: border-box;

    #question {
        font-size: 1.2em;
        margin-bottom: 20px;
    }

    #current-count {
        font-size: 1.2em;
        margin-bottom: 0;
        color: rgb(0, 255, 0);
    }
    
    #lifeline-count {
        font-size: 1.2em;
        margin-top: 0;
        color: rgb(255, 0, 0);
    }
    
    .option {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid $option-bg-color;
        background: $option-bg-color;
        color: $text-color;
        cursor: pointer;
        border-radius: 4px;
        transition: background 0.3s ease;

        &.selected {
            background: $option-selected-color;
        }

        @media (min-width: 769px) {
            &:hover {
                background: $option-hover-color;
            }
        }
    }

    button {
        margin-top: 20px;
        padding: 10px 20px;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        background: $button-bg-color;
        color: $text-color;
        font-size: 1em;
        transition: background 0.3s ease;

        &:hover {
            background: $button-hover-color;
        }
    }

    .hidden {
        display: none;
    }

    #question-image {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto 20px auto;
        border-radius: 8px;
    }
}

// Form Styles
.game-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%; // Ensure form takes full width

    label {
        margin: 10px 0 5px 0;
        font-size: 1em;
    }

    input, select {
        width: 100%; // Ensure inputs and selects take full width
        padding: 8px;
        font-size: 1em;
        margin-bottom: 10px;
        border-radius: 4px;
        border: 1px solid $game-bg-color;
    }
}

// Media Queries
@media (min-width: 769px) {
    #options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    .option {
        width: 100%;
        text-align: center;
        padding: 15px;
        margin: 5px;
        border: 1px solid $option-bg-color;
        background: $option-bg-color;
        color: $text-color;
        cursor: pointer;
        border-radius: 4px;
        transition: background 0.3s ease;

        &.selected {
            background: $option-selected-color;
        }

        &:hover {
            background: $option-hover-color;
        }
    }
}

@media (max-width: 768px) {
    #game {
        padding: 15px;

        #question {
            font-size: 1.1em;
        }

        button {
            padding: 8px 16px;
            font-size: 0.9em;
        }

        .option {
            padding: 8px;
        }
    }

    #options {
        display: block;
    }

    .option {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid $option-bg-color;
        background: $option-bg-color;
        color: $text-color;
        cursor: pointer;
        border-radius: 4px;
        transition: background 0.3s ease;

        &.selected {
            background: $option-selected-color;
        }
    }
}

@media (max-width: 480px) {
    #game {
        padding: 10px;

        #question {
            font-size: 1em;
        }

        button {
            padding: 6px 12px;
            font-size: 0.8em;
        }

        .option {
            padding: 6px;
        }
    }
}

@media (min-width: 1200px) {
    body {
        height: 95vh;
    }
}

#message {
    font-size: 1.2em;
    margin-top: 20px;
    color: #ffeb3b;
}

.hidden {
    display: none;
}

.option {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid $option-bg-color;
    background: $option-bg-color;
    color: $text-color;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease;

    &.selected {
        background: $option-selected-color;
    }
    
    &.correct {
        background-color: green;
    }

    &.incorrect {
        background-color: red;
    }

    &.blink {
        animation: blink-animation 0.5s steps(5, start) 2;
    }
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
